<nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">PenguinHealth </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/covid-question">Take Health Assetment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-up">Sign-up</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-5 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">Have you recently started experiencing any of these symptoms?</h5>
            <h6 class="card-title text-danger">Select all that apply.</h6>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Fever or chills
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static " type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Mild or moderate difficulty breathing
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                New or woresning cough
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Sudden loss of taste or smell
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Vomiting or diarrhea
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">How old are you?</h5>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Under 18
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Between 18-35
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Between 35-60
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               60 or older
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">In the last 10 days, have you been tested for COVID-19?</h5>
            <h6 class="card-title text-danger">Only include your most recent saliva, oral swab, or nasal swab test.</h6>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I was tested and my result was positive for COVID-19
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I was tested and my result was negative for COVID-19
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I was tested but I have not yet received my test results
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I have not been tested in the last 10 days
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

 
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">Is this an emergency?</h5>
            <h6 class="card-title text-danger">Stop and call 911 if you are experiencing severe symptons of COVID-19 </h6>
            <h6 class="card-title text-danger"> severe chest pain or extreme difficulty breathing.</h6>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I am expereiencing at least one of these
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I do not have any of these
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">In the last 14 days did you work or volunteer in a healthcare facility?</h5>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I worked or volunteered in a healthcare facility in the last 14 days
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                I did not work or volunteer in a healthcare facility in the last 14 days
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">Have you been in contact with anyone that has tested postiive for COVID-19 in the last 10 days?</h5>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Yes
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               No
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="card mt-4 bg-dark" style="width: 35rem;">
          <div class="card-body">
            <h5 class="card-title font-weight-bold text-danger">Do any of these apply to you?</h5>
            <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                Obesity
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               Smoking or vaping
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               Pregnancy
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               Diabities, high blood pressure, chronic kidney disease, or liver diesase
              </div>
              <div class="form-check text-light">
                <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
               Other health conditions that would make a difference
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
