  <ng-container class="">
    <div class="card">
      <img src="https://en.wikipedia.org/wiki/Youngstown_State_Penguins#/media/File:Youngstown_State_Penguins_logo.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="text-center">
          Penguin Health
        </h1>
        <p class="text-center">Provide text.........</p>
        <form>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary"><i class="fas fa-envelope fa-fw text-light"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email">
                </div>
              </div>
            </div>
    
            <div class="col-12">
              <div class="form-group">
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary"><i class="fas fa-lock fa-fw text-light"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password">
                </div>
              </div>
            </div>
          </div>
    
          <div class="row mt-3 mb-3">
            <div class="col-12 col-md-8 offset-md-2">
              <button type="button" class="btn btn-block btn-danger">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    
      <div class="card-footer bg-danger">
        <div class="row">
          <div class="col-8 mt-1">
            <a class="clickable text-light">Forgot password?</a>
          </div>
          <div class="col-4 text-right">
            <button type="button" class="btn btn-block btn-sm btn-outline-light">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  