<nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">PenguinHealth </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://docs.google.com/forms/d/1FbQfEeEYpMNjcy8BX4DWbspeKyzMno_EczrbXOzgLT0/edit">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/covid-question">Take Health Assetment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign-up">Sign-up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/results">Results</a>
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="card mt-4" style="width: 35rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Youngstown_State_Penguins_logo.svg/1200px-Youngstown_State_Penguins_logo.svg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <h6 class="card-title"> YSU ID: {{YID}} </h6>
          <p class="card-text">It has been {{lastAssessment}} days since you have taken your last assessment.</p>
          <a href="/covid-question" class="btn btn-light d-flex justify-content-center">Take Assessment</a>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>



